<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library management system</title>
</head>
<body><center>
    <h1>WELCOME TO</h1>
    <h2>Library Management System</h2>
    <hr>
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showbook';" value="show all books history" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showmember';" value="show members" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showcashier';" value="show cashiers" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showshelfguy';" value="show shelfguys" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showbookshelf';" value="show bookshelfs" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showbuy';" value="show buyed books" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showborrow';" value="show borrowed books" />
    <hr>
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showbook/add';" value="add new book" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showmember/add';" value="add new member" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showcashier/add';" value="add new cashier" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showshelfguy/add';" value="add new shelfguy" />
    <hr>
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showbook/delete';" value="delete a book" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showmember/delete';" value="delete a member" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showcashier/delete';" value="delete a cashier" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showshelfguy/delete';" value="delete a shelfguy" />
    <hr>
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showbuy/add';" value="buy a book" />
    <input type="button" onclick="location.href='http://127.0.0.1:8000/showborrow/add';" value="borrow a book" />
</center></body>
</html>